* {
    margin:0;
    padding:0;
}

.main-index {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: rgb(197, 195, 194);
    border-radius: 5px;
    padding: 5px;
}

.messages {
    margin-top: 10px;
    text-align: center;
}